.red{
    background-color: rgb(214, 108, 108);
}
.yellow{
    background-color: rgb(231, 231, 103);
}
.beige{
    background-color: beige;
}
.grey{
    background-color: grey;
}
.purple{
    background-color: rgb(184, 36, 184);
}
.green{
    background-color: rgb(18, 161, 18);
}
.orange{
    background-color: orange;
}

